Valenzuela_Santos_Carlos_LM_U2_T3/ex1.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="members">
  <xs:complexType>
  <xs:sequence>
  <xs:element ref="member" minOccurs="1" maxOccurs="unbounded" />
  </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="member">
   <xs:complexType>
      <xs:sequence>
      <xs:element ref="name" />
    <xs:element ref="year" />
      </xs:sequence>
    </xs:complexType>
    </xs:element>
    <xs:element name="name" type="xs:string" />
  <xs:element name="year" type="xs:integer" />
</xs:schema>
